<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="css/common.css" rel="stylesheet" type="text/css"/>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <link href="css/user_style.css" rel="stylesheet" type="text/css"/>
    <link href="skins/all.css" rel="stylesheet" type="text/css"/>
    <script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
    <script src="js/common_js.js" type="text/javascript"></script>
    <script src="js/footer.js" type="text/javascript"></script>
    <script src="js/icheck.js" type="text/javascript"></script>
    <script src="js/custom.js" type="text/javascript"></script>
    <script src="js/head.js" type="text/javascript"></script>
    <script src="js/userCenter.js" type="text/javascript"></script>
    <script src="js/shoppingCar.js" type="text/javascript"></script>
    <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>

    <title>会员中心-我的收藏</title>
    <style type="text/css">
        .ss {
            font-size: 16px;
            border: 1px solid #F63;
            color: #ffffff;
            filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#F90, endColorStr=#F63); /*IE*/
            background: -ms-linear-gradient(top, #F90, #F63); /* IE10+ */
            background: -moz-linear-gradient(top, #F90, #F63); /*火狐*/
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F90), to(#F63)); /*谷歌*/
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            text-align: center;
            line-height: 40px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 80px;
            height: 40px;
        "
        }
    </style>
</head>

<body>
<head>
    <div id="header_top">
        <div id="top">
            <div class="Inside_pages">
                <div class="Collection">
							<span style="display: none" id="user_play">
							<a href="http://localhost:8080/shopping/login" class="green">请登录</a>
							<a href="http://localhost:8080/shopping/register" class="green">免费注册</a>
							</span>
                    <span id="account"></span>
                </div>
                <div class="hd_top_manu clearfix">
                    <ul class="clearfix">
                        <li class="hd_menu_tit" data-addclass="hd_menu_hover">
                            <a href="http://localhost:8080/shopping/index">首页</a>
                        </li>
                        <li class="hd_menu_tit" data-addclass="hd_menu_hover">
                            <a id="userCentre_li" href="">我的信息</a>
                        </li>
                        <li class="hd_menu_tit" data-addclass="hd_menu_hover">
                            <a href="#">消息中心</a>
                        </li>
                        <li class="hd_menu_tit" data-addclass="hd_menu_hover">
                            <a href="#">商品分类</a>
                        </li>
                        <li class="hd_menu_tit" data-addclass="hd_menu_hover">
                            <a href="#">我的购物车<b>(23)</b></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="header" class="header page_style">
            <div class="logo"><a href="index.html"><img src="images/logo.png"/></a></div>
            <!--结束图层-->
            <div class="Search">
                <div class="search_list">
                    <ul>
                        <li class="current"><a href="#">产品</a></li>
                        <li><a href="#">信息</a></li>
                    </ul>
                </div>
                <div class="clear search_cur">
                    <input name="searchName" id="searchName" class="search_box" onkeydown="keyDownSearch()" type="text">
                    <input name="" type="submit" value="搜 索" class="Search_btn"/>
                </div>
                <div class="clear hotword">热门搜索词：香醋&nbsp;&nbsp;&nbsp;茶叶&nbsp;&nbsp;&nbsp;草莓&nbsp;&nbsp;&nbsp;葡萄&nbsp;&nbsp;&nbsp;菜油</div>
            </div>
            <!--购物车样式-->
            <div class="hd_Shopping_list" id="Shopping_list">
                <div class="s_cart"><a href="#">我的购物车</a> <i class="ci-right">&gt;</i>
                </div>
                <div class="dorpdown-layer">
                    <div class="spacer"></div>
                </div>
            </div>
        </div>
        <!--菜单栏-->
        <div class="Navigation" id="Navigation">
            <ul class="Navigation_name">
                <li><a href="Home.html">首页</a></li>
                <li><a href="#">你身边的超市</a></li>
                <li><a href="#">预售专区</a><em class="hot_icon"></em></li>
                <li><a href="products_list.html">商城</a></li>
                <li><a href="#">半小时生活圈</a></li>
                <li><a href="#">好评商户</a></li>
                <li><a href="#">热销活动</a></li>
                <li><a href="Brands.html">联系我们</a></li>
            </ul>
        </div>
        <script>$("#Navigation").slide({titCell: ".Navigation_name li", trigger: "click"});</script>
    </div>
</head>
<!--用户中心收藏样式-->
<div class="user_style clearfix">
    <div class="user_center clearfix">
        <div class="left_style">
            <div class="menu_style">
                <div class="user_title"><a href="http://localhost:8080/shopping/userCentre">用户中心</a></div>
                <div class="user_Head">
                    <div class="user_portrait">
                        <a href="#" title="" class="btn_link"></a> <img th:src="@{/show(fileName=${userImg})}">
                        <div class="background_img"></div>
                    </div>
                    <div class="user_name">
                        <p><span class="name" id="user_account_r2" th:text="${user.getNkName()}"></span>
                            <a href="#">[修改密码]</a></p>
                    </div>
                </div>
                <div class="sideMen">
                    <!--菜单列表图层-->
                    <dl class="accountSideOption1">
                        <dt class="transaction_manage"><em class="icon_1"></em>订单管理</dt>
                        <dd>
                            <ul>
                                <li><a id="myOrder" href="">我的订单</a></li>
                                <li><a id="myConsignee" href="">收货地址</a></li>
                                <li><a href="#">产品预订</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="accountSideOption1">
                        <dt class="transaction_manage"><em class="icon_2"></em>会员管理</dt>
                        <dd>
                            <ul>
                                <li><a id="userInfo" href="">用户信息</a></li>
                                <li><a id="collections" href="">我的收藏</a></li>
                                <li><a href="#">我的留言</a></li>
                                <li><a href="#">我的标签</a></li>
                                <li><a href="#">我的推荐</a></li>
                                <li><a href="#">我的评论</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="accountSideOption1">
                        <dt class="transaction_manage"><em class="icon_3"></em>账户管理</dt>
                        <dd>
                            <ul>
                                <li><a id="balance" href="">账户余额</a></li>
                                <li><a id="consumeLog" href="">消费记录</a></li>
                                <li><a href="#">跟踪包裹</a></li>
                                <li><a href="#">资金管理</a></li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <script>jQuery(".sideMen").slide({
                    titCell: "dt",
                    targetCell: "dd",
                    trigger: "click",
                    defaultIndex: 0,
                    effect: "slideDown",
                    delayTime: 300,
                    returnDefault: true
                });</script>
            </div>
        </div>
        <!--收藏样式-->
        <div class="right_style">
            <div class="title_style"><em></em>我的收藏</div>
            <div class="Favorites_slideTxtBox">
                <div class="hd">
                    <ul>
                        <li>收藏的商品</li>
                        <!--                        <li>收藏的店铺</li>-->
                    </ul>
                </div>
                <div class="bd">
                    <ul class="commodity_list clearfix">

                        <div class="Number_Favorites">
                            收货地址：
                            <span th:each="sh,x:${consignees}">
                                <p>
                                    <input th:id="'shId,'+${sh.getId()}" type="checkbox" th:value="'shId,'+${sh.getId()}" onchange="shChange(this.id)"/>
                                    <span th:text="'收货人姓名：'+${sh.getConsigneeMan()}+
                                    '   收货地址：'+${sh.getConsignee()}+'   电话：'+${sh.getPhone()}">
                                    </span>
                                </p>
                            </span>
                        </div>

                        <div class="clearfix">

                            <input type="hidden" id="paySome" value=""/>
                            <input type="hidden" id="shd" value=""/>

                            <li style="width:245px; float:left; position:relative"
                                th:each="shoppingCarVo,i:${shoppingCarVoList}">
                                <div style="border:3px solid;border-color: #fff2f2">
                                    <div class="img_link">
                                        <a href="#" class="center "><img
                                                th:src="@{/show(fileName=${shoppingCarVo.getImgPth()})}"></a>
                                    </div>
                                    <div class="xinxi" align="right">

                                        <input th:id="sp+${shoppingCarVo.getShoppingCarId()}" type="checkbox"
                                               th:value="${shoppingCarVo.getShoppingCarId()}"
                                               onclick="checkO(this.id)"/>
                                        <input th:id="userCarCommodityId+${i.index}" type="hidden"
                                               th:value="${shoppingCarVo.getShoppingCarId()}"/>

                                        <a href="#" class="name"
                                           th:text="${shoppingCarVo.getCommodityName()} +'☆'+ ${shoppingCarVo.getCommodityPro()}">
                                        </a>
                                        <b>￥</b><span th:text="${shoppingCarVo.getCommodityMoney()}"></span>
                                        <p>活动价：<span th:text="${shoppingCarVo.getCommodityAMoney()}"></span></p>
                                        <p>数量：<span th:text="${shoppingCarVo.getSum()}"></span></p>
                                        <p>总价：<span th:text="${shoppingCarVo.getSumMoney()}"></span></p>
                                        <a th:id="${i.index}" onmouseup="removeFromShoppingCar(this.id)">移除</a>
                                    </div>
                                </div>
                            </li>

                        </div>
                        <div class="" style="margin-top: 20px">
                            <input type="hidden" id="ap1"/>
                            <input type="hidden" id="ap2"/>
                            <center>
                                <p class="clearfix Account_btn" onclick="pay()">
                                    <a class="ss" id="Recharge_btn">结算下单</a>
                                </p>
                            </center>
                        </div>
                        <div class="Paging">
                            <div class="Pagination">
                                <a href="#">首页</a>
                                <a href="#" class="pn-prev disabled">&lt;上一页</a>
                                <a href="#" class="on">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">下一页&gt;</a>
                                <a href="#">尾页</a>
                            </div>
                        </div>
                    </ul>
                    <ul class="Shops_list">
                        <div class="Number_Favorites">共收藏：23家店铺</div>
                        <li class="">
                            <div class="shop_logo">

                            </div>
                            <div class="shop_content">

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <script>jQuery(".Favorites_slideTxtBox").slide({trigger: "click"});</script>
        </div>
    </div>
</div>
<!--网站地图-->
<div class="fri-link-bg clearfix">
    <div class="fri-link">
        <div class="logo left margin-r20"><img src="images/fo-logo.jpg" width="152" height="81"/></div>
        <div class="left"><img src="images/qd.jpg" width="90" height="90"/>
            <p>扫描下载APP</p>
        </div>
        <div class="">
            <dl>
                <dt>新手上路</dt>
                <dd><a href="#">售后流程</a></dd>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">订购方式</a></dd>
                <dd><a href="#">隐私声明 </a></dd>
                <dd><a href="#">推荐分享说明 </a></dd>
            </dl>
            <dl>
                <dt>配送与支付</dt>
                <dd><a href="#">保险需求测试</a></dd>
                <dd><a href="#">专题及活动</a></dd>
                <dd><a href="#">挑选保险产品</a></dd>
                <dd><a href="#">常见问题 </a></dd>
            </dl>
            <dl>
                <dt>售后保障</dt>
                <dd><a href="#">保险需求测试</a></dd>
                <dd><a href="#">专题及活动</a></dd>
                <dd><a href="#">挑选保险产品</a></dd>
                <dd><a href="#">常见问题 </a></dd>
            </dl>
            <dl>
                <dt>支付方式</dt>
                <dd><a href="#">保险需求测试</a></dd>
                <dd><a href="#">专题及活动</a></dd>
                <dd><a href="#">挑选保险产品</a></dd>
                <dd><a href="#">常见问题 </a></dd>
            </dl>
            <dl>
                <dt>帮助中心</dt>
                <dd><a href="#">保险需求测试</a></dd>
                <dd><a href="#">专题及活动</a></dd>
                <dd><a href="#">挑选保险产品</a></dd>
                <dd><a href="#">常见问题 </a></dd>
            </dl>
            <dl>
                <dt>帮助中心</dt>
                <dd><a href="#">保险需求测试</a></dd>
                <dd><a href="#">专题及活动</a></dd>
                <dd><a href="#">挑选保险产品</a></dd>
                <dd><a href="#">常见问题 </a></dd>
            </dl>

        </div>
    </div>
</div>
<!--网站地图END-->
<!--网站页脚-->
<div class="copyright">
    <div class="copyright-bg">

    </div>
</div>
</body>
</html>
