<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>head</title>
</head>
<body>

<div id="header_top">
    <div id="top">
        <div class="Inside_pages">
            <div class="Collection">
							<span style="display: none">
							<a href="http://localhost:8080/shopping/login" class="green">请登录</a>
							<a href="http://localhost:8080/shopping/register" class="green">免费注册</a>
							</span>
                <span th:text="${account}" id="account"></span>
            </div>
            <div class="hd_top_manu clearfix">
                <ul class="clearfix">
                    <li class="hd_menu_tit" data-addclass="hd_menu_hover">
                        <a href="http://localhost:8080/shopping/index">首页</a>
                    </li>
                    <li class="hd_menu_tit" data-addclass="hd_menu_hover">
                        <a href="http://localhost:8080/shopping/userCentre">我的信息</a>
                    </li>
                    <li class="hd_menu_tit" data-addclass="hd_menu_hover">
                        <a href="">我的购物车</a>
                    </li>
                    <li class="hd_menu_tit" data-addclass="hd_menu_hover">
                        <a href="#">商品分类</a>
                    </li>
                    <li class="hd_menu_tit" data-addclass="hd_menu_hover">
                        <a href="http://localhost:8080/shopping/shoppingTrolley">我的购物车<b> </b></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="header" class="header page_style">
        <div class="logo">
            <!--						<a href="index.html"><img th:src="@{images/logo/logo.png}" /></a>-->
        </div>
        <!--结束图层-->
        <div class="Search">
            <div class="search_list">
                <ul>
                    <li class="current">
                        <a href="#">产品</a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                </ul>
            </div>
            <div class="clear search_cur">

                <form action="../shopping/commodityList">
                        <input type="hidden" name="nkName" id="searchNkName"/>
                        <input name="spName" id="searchName" class="search_box" type="text">
                        <input name="" type="submit" value="搜 索" class="Search_btn"/>
                    </form>
            </div>
            <div class="clear hotword">热门搜索词：
                <span>香醋&nbsp;&nbsp;&nbsp;茶叶&nbsp;&nbsp;&nbsp;草莓&nbsp;&nbsp;&nbsp;葡萄&nbsp;&nbsp;&nbsp;菜油</span>
            </div>
        </div>
        <!--购物车样式-->
        <div class="hd_Shopping_list" id="Shopping_list">
            <div class="s_cart"><a href="#">我的购物车</a> <i class="ci-right">&gt;</i><i class="ci-count" id="shopping-amount">0</i></div>
            <div class="dorpdown-layer">
                <div class="spacer"></div>
                <!--<div class="prompt"></div><div class="nogoods"><b></b>购物车中还没有商品，赶紧选购吧！</div>-->
                <ul class="p_s_list">
                    <li>
                        <div class="img"><img src="images/tianma.png"></div>
                        <div class="content">
                            <p class="name"><a href="#">产品名称</a></p>
                            <p>颜色分类:紫花8255尺码:XL</p>
                        </div>
                        <div class="Operations">
                            <p class="Price">￥55.00</p>
                            <p><a href="#">删除</a></p>
                        </div>
                    </li>
                </ul>
                <div class="Shopping_style">
                    <div class="p-total">共<b>1</b>件商品　共计<strong>￥ 515.00</strong></div>
                    <a href="Shop_cart.html" title="去购物车结算" id="btn-payforgoods" class="Shopping">去购物车结算</a> </div>
            </div>
        </div>
    </div>
    <!--菜单栏-->
    <div class="Navigation" id="Navigation">
        <ul class="Navigation_name">
            <li>
                <a href="http://localhost:8080/shopping/index">首页</a>
            </li>
            <li class="hour"><span class="bg_muen"></span>
                <a href="#">半小时生活圈</a>
            </li>
            <li>
                <a href="#">你身边的超市</a>
            </li>
            <li>
                <a href="#">预售专区</a><em class="hot_icon"></em></li>
            <li>
                <a id="products_list" href="http://localhost:8080/shopping/commodityList">商城</a>
            </li>

            <li>
                <a href="#">好评商品</a>
            </li>
            <li>
                <a href="#">热销活动</a>
            </li>
            <li>

            </li>
        </ul>
    </div>
    <script>
        $("#Navigation").slide({
            titCell: ".Navigation_name li",
            trigger: "click"
        });
    </script>
</div>
</body>
</html>