<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.shopping.mapper.InventoryMapper">

    <resultMap type="com.app.shopping.model.entity.Inventory" id="InventoryMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="commodityId" column="commodity_id" jdbcType="INTEGER"/>
        <result property="property" column="property" jdbcType="VARCHAR"/>
        <result property="inventory" column="inventory" jdbcType="INTEGER"/>
        <result property="isDel" column="is_del" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="creatTime" column="creat_time" jdbcType="TIMESTAMP"/>
        <result property="money" column="money" jdbcType="VARCHAR"/>
        <result property="activityMoney" column="activity_money" jdbcType="VARCHAR"/>
        <result property="moneyLog" column="money_log" jdbcType="VARCHAR"/>
        <result property="inventory" column="inventory" jdbcType="INTEGER"/>
        <result property="isActivity" column="is_activity" jdbcType="INTEGER"/>
        <result property="isTicket" column="is_ticket" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="InventoryMap">
        select
          *
        from shopping_t.inventory
        where id = #{id} and is_del = 0
    </select>
    <select id="queryByCommodityIdAndPro" resultMap="InventoryMap">
        select
          *
        from shopping_t.inventory
        where is_del = 0 and commodity_id = #{cId} and property =#{property}
    </select>
    <select id="queryByCId" resultMap="InventoryMap">
        select  *
        from shopping_t.inventory
        where is_del = 0
        and commodity_id = #{cId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="InventoryMap">
        select
          id, commodity_id, property, inventory, is_del, update_time, creat_time, money, activity_money, money_log
        from shopping_t.inventory
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="InventoryMap">
        select *
        from shopping_t.inventory
        where is_del = 0
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into shopping_t.inventory(commodity_id, property, inventory, money)
        values (#{commodityId}, #{property}, #{inventory}, #{money})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true" parameterType="java.util.List">
        INSERT INTO shopping_t.inventory(commodity_id, property, inventory, money)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.commodityId},#{item.property},#{item.inventory},#{item.money})
        </foreach>
    </insert>


    <!--通过主键删除-->
    <delete id="deleteById">
        delete from shopping_t.inventory where id = #{id}
    </delete>

    <update id="updateIsTByCId">
        update shopping_t.inventory
        set is_ticket = #{isT}
        where commodity_id = #{cId} and is_del = 0
    </update>

    <update id="updateInventoryById">
        update shopping_t.inventory
        set inventory = #{inventory}
        where id = #{id} and is_del = 0
    </update>

    <update id="updateInventoryAndMoneyByCIdAndPro">
        update shopping_t.inventory
        set inventory = #{inventory},money =#{money}
        where commodity_id = #{cId}
        and is_del = 0
        and property = #{pro}
    </update>

</mapper>