<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.shopping.mapper.SMSVCodeMapper">

    <!--    <update id="updateById" parameterType="int">-->
    <!--    -->
    <!--    </update>-->

    <sql id="TABLE">
        shopping_t.smsv_code
    </sql>

    <sql id="key">
        <trim suffixOverrides=",">
            <if test="smsRecordId!=null and smsRecordId!=''">
                sms_record_id,
            </if>
            <if test="code!=null and code!=''">
                code,
            </if>
            <if test="businessTime!=null">
                business_time,
            </if>
            <if test="expireTime!=null">
                expire_time,
            </if>
            <if test="state!=null and state!=''">
                state,
            </if>
        </trim>
    </sql>

    <sql id="values">
        <trim suffixOverrides=",">
            <if test="smsRecordId!=null and smsRecordId!=''">
                #{smsRecordId},
            </if>
            <if test="code!=null and code!=''">
                #{code},
            </if>
            <if test="businessTime!=null">
                #{businessTime},
            </if>
            <if test="expireTime!=null">
                #{expireTime},
            </if>
            <if test="state!=null and state!=''">
                #{state},
            </if>
        </trim>
    </sql>

    <insert id="insert" parameterType="com.app.shopping.model.msg.SmsVCode" useGeneratedKeys="true" keyProperty="id">
        insert into
        <include refid="TABLE"/>
        (<include refid="key"/>)
        values(<include refid="values"/>)
    </insert>

    <select id="selectCount" resultType="int">
        select count(id) from
        <include refid="TABLE"/>
    </select>
    <update id="setRecordIdById">
        update
        <include refid="TABLE"/>
        set sms_record_id = #{recordId}
        where id = #{id}
    </update>

</mapper>