<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.shopping.mapper.UserShoppingCarMapper">

    <resultMap type="com.app.shopping.model.entity.UserShoppingCar" id="UserShoppingCarMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="isDel" column="is_del" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="creatTime" column="creat_time" jdbcType="TIMESTAMP"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="commodityId" column="commodity_id" jdbcType="INTEGER"/>
        <result property="commodityPro" column="commodity_pro" jdbcType="VARCHAR"/>
        <result property="sum" column="sum" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="UserShoppingCarMap">
        select
          *
        from shopping_t.user_shopping_car
        where id = #{id} and is_del = 0
    </select>
    <select id="queryByCIdAndProAndUserId" resultMap="UserShoppingCarMap">
        select
          *
        from shopping_t.user_shopping_car
        where commodity_id = #{cId}
        and commodity_pro = #{pro}
        and user_id = #{userId}
        and is_del = 0
    </select>

    <select id="queryByUserId" resultMap="UserShoppingCarMap">
        select *
        from shopping_t.user_shopping_car
        where is_del = 0 and user_id = #{userId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="UserShoppingCarMap">
        select
          id, is_del, update_time, creat_time, user_id, commodity_id, commodity_pro, `sum`
        from shopping_t.user_shopping_car
        where is_del = 0
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="UserShoppingCarMap">
        select
          id, is_del, update_time, creat_time, user_id, commodity_id, commodity_pro, `sum`
        from shopping_t.user_shopping_car
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="isDel != null">
                and is_del = #{isDel}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="creatTime != null">
                and creat_time = #{creatTime}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="commodityId != null">
                and commodity_id = #{commodityId}
            </if>
            <if test="commodityPro != null and commodityPro != ''">
                and commodity_pro = #{commodityPro}
            </if>
            <if test="sum != null">
                and `sum` = #{sum}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into shopping_t.user_shopping_car(user_id, commodity_id, commodity_pro, `sum`)
        values (#{userId}, #{commodityId}, #{commodityPro}, #{sum})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update shopping_t.user_shopping_car
        <set>
            <if test="isDel != null">
                is_del = #{isDel},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="creatTime != null">
                creat_time = #{creatTime},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="commodityId != null">
                commodity_id = #{commodityId},
            </if>
            <if test="commodityPro != null and commodityPro != ''">
                commodity_pro = #{commodityPro},
            </if>
            <if test="sum != null">
                `sum` = #{sum},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="deleteByUserIdAndCommodity">
        update shopping_t.user_shopping_car
        set is_del = 1
        where user_id = #{userId}
        and commodity_id = #{commodityId}
        and commodity_pro = #{commodityPro}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from shopping_t.user_shopping_car where id = #{id}
    </delete>



</mapper>